/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/

/*------ Home Banner -----*/

.banner-wrapper {
    .carousel-inner {
        .carousel-item {
            @include background(top center, cover);
            height: 890px;
            background-attachment: fixed;
            @include breakpoint(x-normal) {
                height: 660px;
            }
            @include breakpoint(normal) {
                height: 590px;
                background-attachment: scroll;
            }
            @include breakpoint(ipad) {
                height: 540px;
            }
            @include breakpoint(mobile) {
                height: 500px;
            }
        }
    }
    .banner-caption {
        position: absolute;
        top: 46%;
        transform: translateY(-50%);
        text-align: center;
        left: 20px;
        right: 20px;
        @include breakpoint(mobile) {
            top: 40%;
        }
        h2 {
            font-size: 44px;
            font-family: $font-family;
            font-weight: $font-weight-light;
            display: block;
            color: $color-white;
            line-height: 1.2em;
            margin-bottom: 30px;
            letter-spacing: 0.01em;
            @include breakpoint(x-normal) {
               font-size: 35px;
                margin-bottom: 20px;
            }
            @include breakpoint(normal) {
                font-size: 28px;
                margin-bottom: 15px;
            }
            @include breakpoint(ipad) {
                font-size: 22px;
            }
            @include breakpoint(mobile) {
                font-size: 19px;
                margin-bottom: 10px;
            }
        }
        p {
            font-size: 16px;
            font-family: $font-family;
            font-weight: $font-weight-regular;
            color: $color-white;
            margin: 0 auto 30px;
            word-spacing: 4px;
            line-height: 2em;
            @include breakpoint(x-normal) {
               font-size: 14px;
            }
            @include breakpoint(ipad) {
                font-size: 12px;
            }
        }
        .view-more {
            a {
                color: $color-white;
                font-size: 18px;
                background: linear-gradient(to right, #2298e5 0%, #1c85c8 100%);
                width: 210px;
                line-height: 3.5;
                display: inline-block;
                border: 1px solid transparent;
                border-radius: 40px;
                font-family: $font-family;
                font-weight: 400;
                text-transform: $text-uppercase;
                letter-spacing: 0.1em;
                @include breakpoint(x-normal) {
                    width: 200px;
                    font-size: 14px;
                }
                @include breakpoint(ipad) {
                    width: 160px;
                    font-size: 13px;
                }
                &:hover {
                    background: $color-white;
                    color: $color-blue;
                    border-color: $color-blue;
                }
            }
        }
    }
    .carousel-indicators {
        bottom: 30px;
        li {
            height: 10px;
            width: 10px;
            margin: 0 3px;
            border-radius: 100%;
            background: $color-white;
            cursor: pointer;
            &.active {
                background: $color-blue;
            }
        }
    }
    .client-logo-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100px;
        @include breakpoint(x-normal) {
            bottom: 70px;
        }
        @include breakpoint(mobile-s) {
            bottom: 50px;
        }
        h4 {
            color: $color-blue;
            font-size: 22px;
            text-align: center;
            margin-bottom: 50px;
            @include breakpoint(x-normal) {
               font-size: 18px;
                margin-bottom: 30px;
            }
            @include breakpoint(ipad) {
                margin-bottom: 20px;
            }
            @include breakpoint(mobile-s) {
                margin-bottom: 10px;
            }
        }
        .client-logo {
            display: inline-block;
            vertical-align: middle;
            float: none;
            text-align: center;
            a {
                max-width: 65%;
                display: inline-block;
            }
        }
    }
}

/*----- Inner Banner Section -----*/

.inner-banner-wrapper {
    height: 330px;
    @include background(center, cover);
    position: relative;
    @include breakpoint(x-normal) {
        height: 270px;
    }
    @include breakpoint(mobile) {
        height: 215px;
    }
    .inner-banner-content {
        position: absolute;
        top: 50%;
        left: 20px;
        right: 20px;
        text-align: center;
        transform: translateY(-50%);
        padding-top: 40px;
        @include breakpoint(mobile) {
            padding-top: 55px;
        }
        h3 {
            color: $color-white;
            font-size: 35px;
            line-height: 1.5;
            @include breakpoint(x-normal) {
                font-size: 30px;
            }
            @include breakpoint(mobile) {
                font-size: 20px;
            }
        }
        h5 {
            color: $color-white;
            font-size: 25px;
            letter-spacing: 0.05em;
            font-weight: $font-weight-light;
            @include breakpoint(mobile) {
                font-size: 18px;
            }
        }
        span {
            color: $color-white;
            font-size: 17px;
            font-family: $font-family;
            font-weight: $font-weight-regular;
            @include breakpoint(x-normal) {
                font-size: 15px;
            }
        }
    }
}

/*----- Job Search Page -----*/

.job-search-page {
    .inner-banner-wrapper {
        height: 425px;
        @include breakpoint(mobile) {
            height: 370px;
        }
        .inner-banner-content {
            padding-top: 60px;
            @include breakpoint(mobile) {
                padding-top: 50px;
            }
        }
        h3, h5 {
            margin-bottom: 20px;
        }
        span.location {
            display: inline-block;
            vertical-align: middle;
            font-weight: $font-weight-light;
            font-size: 16px;
            margin-bottom: 30px;
            svg {
                height: 15px;
                width: 15px;
                fill: $color-white;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .apply-btn-wrap {
            .apply-btn {
                background: linear-gradient(to right, #2298e5 0%, #1c85c8 100%);
                border: 1px solid transparent;
                color: $color-white;
                border-radius: 50px;
                line-height: 3.4em;
                width: 180px;
                display: inline-block;
                font-size: 16px;
                text-transform: $text-capitalize;
                font-weight: $font-weight-light;
                letter-spacing: 0.03em;
                overflow: hidden;
                &:hover {
                    background: $color-white;
                    color: $color-blue;
                    border-color: $color-blue;
                }
                @include breakpoint(mobile) {
                    font-size: 14px;
                }
            }
        }
    }
}