/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/

.footer-wrapper {
    background: #191919;
    padding: 30px 0px;
    .social-share {
        text-align: center;
        margin-bottom: 25px;
        @include breakpoint(mobile) {
            margin-bottom: 15px;
        }
        li {
            height: 33px;
            width: 33px;
            border-radius: 4px;
            background: $dark-grey;
            position: relative;
            a {
                font-size: 18px;
                color: #1f1f1f;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                &:hover {
                    background: #1f1f1f;
                    color: $dark-grey;
                }
            }
        }
    }
    .footer-nav {
        text-align: center;
        margin: 0 auto 20px;
        @include breakpoint(mobile) {
            margin: 0 auto 10px;
        }
        li {
            margin: 0 15px;
            @include breakpoint(mobile) {
                margin: 0 8px;
            }
            a {
                color: $color-white;
                font-size: 15px;
                text-transform: $text-capitalize;
                font-weight: $font-weight-light;
                letter-spacing: 1px;
                @include breakpoint(mobile) {
                    font-size: 13px;
                }
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
    .copyright-sec {
        text-align: center;
        li {
            @include breakpoint(mobile-s) {
                display: block;
                margin: 0px;
            }
            span {
                font-size: 14px;
                color: $color-white;
                font-weight: $font-weight-light;
                letter-spacing: 1px;
                a {
                    color: $color-blue;
                    &:hover {
                        color: $color-white;
                    }
                }
                @include breakpoint(mobile) {
                    font-size: 12px;
                }
            }
            &:first-child {
                &:after {
                    content: "";
                    background: $color-white;
                    height: 13px;
                    width: 1.5px;
                    display: inline-block;
                    margin: 0 10px;
                    @include breakpoint(mobile-s) {
                        display: none;
                    }
                }
            }
        }
    }
}