/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

/*----- Loader -----*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

#loader{
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    width: 90px;
    height: 90px;
    transform: translateY(-50%);
}

.ouro {
    position: relative;
    display:inline-block;
    height: 70px;
    width: 70px;
    margin: 1em;
    border-radius: 50%;  
    background: none repeat scroll 0 0 #DDDDDD;
    overflow:hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.1) inset, 0 0 25px rgba(0,0,255,0.075);
}

.ouro:after {
    content: "";
    position: absolute;
    top: 10px; 
    left: 10px;
    display: block;
    height: 50px; 
    width: 50px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.ouro > span {
    position: absolute;
    height: 100%; width: 50%;
    overflow: hidden;
}

.left  { 
    left:0   
}

.right { 
    left:50% 
}

.anim {
    position: absolute;
    left: 100%; top: 0;
    height: 100%; width: 100%;
    border-radius: 999px;
    background: none repeat scroll 0 0 $color-blue;
    opacity: 0.8;
    -webkit-animation: ui-spinner-rotate-left 3s infinite;
    animation: ui-spinner-rotate-left 3s infinite;
    -webkit-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0;
}

.left .anim {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.right .anim {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: -100%;
    -webkit-transform-origin: 100% 50% 0;
    transform-origin: 100% 50% 0;
}

.ouro3 .anim {
   -webkit-animation-delay: 0s;
   -webkit-animation-duration:3s;
   -webkit-animation-timing-function: linear;
   animation-delay: 0s;
   animation-duration:3s;
   animation-timing-function: linear;
}


@keyframes ui-spinner-rotate-right{
  0%{transform:rotate(0deg)}
  25%{transform:rotate(180deg)}
  50%{transform:rotate(180deg)}
  75%{transform:rotate(360deg)}
  100%{transform:rotate(360deg)}
}
@keyframes ui-spinner-rotate-left{
  0%{transform:rotate(0deg)}
  25%{transform:rotate(0deg)}
  50%{transform:rotate(180deg)}
  75%{transform:rotate(180deg)}
  100%{transform:rotate(360deg)}
}

@-webkit-keyframes ui-spinner-rotate-right{
  0%{-webkit-transform:rotate(0deg)}
  25%{-webkit-transform:rotate(180deg)}
  50%{-webkit-transform:rotate(180deg)}
  75%{-webkit-transform:rotate(360deg)}
  100%{-webkit-transform:rotate(360deg)}
}
@-webkit-keyframes ui-spinner-rotate-left{
  0%{-webkit-transform:rotate(0deg)}
  25%{-webkit-transform:rotate(0deg)}
  50%{-webkit-transform:rotate(180deg)}
  75%{-webkit-transform:rotate(180deg)}
  100%{-webkit-transform:rotate(360deg)}
}

/*--------------------------------------*/

.relative {
    position: relative;
}

.transparent-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    @include breakpoint(mobile) {
        background: $black;
    }
}

.navbar {
    border: none;
    min-height: 1px;
    margin: 0;
    border-radius: 0px;
    padding: 20px 10px;
    @include breakpoint(ipad) {
        .container {
            padding: 0px;
        }
    }
    @include breakpoint(mobile) {
        padding: 15px;
    }
    @include breakpoint(mobile-s) {
        padding: 10px 15px;
    }
}

.navbar-brand {
    padding: 0;
    height: auto;
    @include breakpoint(x-normal) {
        width: 60%;
    }
    @include breakpoint(mobile) {
        width: 20%;
    }
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}

.navbar-nav {
    margin-right: 40px;
    @include breakpoint(ipad) {
        margin-right: 20px;
    }
    >li {
        margin: 0 20px;
        @include breakpoint(ipad) {
            margin:0 10px;
        }
        &:last-child {
            margin-right: 0px;
        }
    }
}

.navbar-nav>li>a {
    padding: 0;
}

.navbar-collapse {
    button {
        height: auto;
        min-width: auto;
        padding: 0px;
        background: none;
        border: none;
        font-size: 16px;
        font-family: $font-family;
        font-weight: $font-weight-regular;
        text-transform: $text-capitalize;
        img {
            margin-left: 5px;
        }
        &:after {
            vertical-align: middle;
        }
        @include breakpoint(x-normal) {
            font-size: 13px;
        }
    }
    .dropdown-menu {
        border-radius: 0px;
        backface-visibility: $color-white;
        padding: 0px;  
        a {
            padding: 5px 10px;
            font-size: 14px;
            @include breakpoint(x-normal) {
                font-size: 12px;
            }
            color: $black;
            &:hover {
                background: $color-blue;
                color: $color-white;
            }
        }
    }
}

.navbar .navbar-nav > li.current-menu-item > a, 
.navbar .navbar-nav > li.current-menu-parent > a {
    color: $color-blue;
}

.navbar {
    .navbar-nav{
         >li {
            @include breakpoint(mobile) {
                margin: 0;
            }
        }
    }
    .dropdown {
        @include breakpoint(mobile) {
            text-align: center;
        }
    }
}
.navbar .navbar-nav >li >a {
    color: $color-white;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-size: 16px;
    text-transform: $text-capitalize;
    letter-spacing: 0.03em;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    display: inline-block;
    @include breakpoint(x-normal) {
        font-size: 13px;
    }
    @include breakpoint(mobile) {
        display: block;
        margin: 14px 0px;
    }
}

.navbar .navbar-nav >li >a:focus,
.navbar .navbar-nav >li >a:hover {
    color: $color-blue;
    background-color: transparent;
}

.navbar-nav .nav-link {
    padding: 0px !important;
}

/*----- Sticky Header -----*/

.fixed-header {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 1;
    visibility: visible;
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    .nav-top-sec {
        display: none;
    }
}

@include breakpoint(mobile) {
    /*----- Toggle Btn -----*/
    .navbar-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .navbar,
    .navbar >.container,
    .navbar >.container-fluid {
        display: inherit;
        flex-wrap: inherit;
        justify-content: inherit;
        align-items: inherit;
    }
    .navbar-header .navbar-toggler {
        text-align: right;
        line-height: 1.25em;
        margin: 0 0 0 auto;
        width: auto;
        padding-left: 0px;
        padding-right: 0px;
        background: none;
        min-width: auto;
        height: auto;
    }
    .navbar-toggler .navbar-toggler-icon {
        background: url("../images/menu-button.png") no-repeat;
        background-size: 100%;
        width: 1.5em;
        height: 1.5em;
    }
    .navbar-toggler .navbar-toggler-icon:focus {
        background: transparent;
        border: none;
    }
    .navbar-toggler:focus,
    .navbar-toggler:hover {
        background: transparent;
        border: none;
    }
    .navbar .navbar-collapse .navbar-nav,
    .navbar .navbar-collapse .navbar-nav > li {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
    }
}