/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/

svg.hidden {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    pointer-events: none;
}

.section {
    padding: 70px 0px;
    @include breakpoint(x-normal) {
        padding: 50px 0px;
    }
    .title-section {
        text-align: center;
        margin-bottom: 30px;
        h3 {
            position: relative;
            color: $black;
            &:after {
                content: "";
                display: block;
                width: 80px;
                height: 2px;
                background: $color-blue;
                text-align: center;
                margin: 15px auto 0px;
            }
        }
    }
}

/*----- Our Solution Section -----*/

.our-solution-element {
    .title-section {
        h3 {
            margin-bottom: 30px;
        }
        p {
            width: 60%;
            margin: 0 auto;
            word-spacing: 2px;
            line-height: 1.8;
            font-size: 18px;
            @include breakpoint(x-normal) {
                font-size: 16px;
            }
            @include breakpoint(normal) {
                width: 80%;
            }
            @include breakpoint(ipad) {
                width: 100%;
            }
        }
    }
    .our-solution-bar {
        margin-bottom: 60px;
        @include breakpoint(ipad) {
            margin-bottom: 40px;
        }
        @include breakpoint(mobile) {
            margin-bottom: 10px;
        }
        ul.top-icons {
            text-align: center;
            margin: 0 auto;
            @include breakpoint(mobile) {
                display: none;
            }
            li {
                position: relative;
                vertical-align: top;
                &:before {
                    position: absolute;
                    width: 1px;
                    background: #d5d5d5;
                    display: inline-block;
                    content: "";
                    top: 10px;
                    z-index: -1;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: 0 auto;
                    @include breakpoint(mobile) {
                        display: none;
                    }
                }
                span {
                    height: 12px;
                    width: 12px;
                    border-radius: 100%;
                    display: inline-block;
                }
                &:first-child {
                    span {
                        background: #60b4f4;
                    }
                    &:before {
                        height: 50px;
                        @include breakpoint(normal) {
                            height: 40px;
                        }
                    }
                }
                &:nth-child(2) {
                    span {
                        background: #69cd1f;
                    }
                    &:before {
                        height: 65px;
                        @include breakpoint(normal) {
                            height: 56px;
                        }
                    }
                }
                &:nth-child(3) {
                    span {
                        background: #ff9b07;
                    }
                    &:before {
                        height: 65px;
                        @include breakpoint(normal) {
                            height: 56px;
                        }
                    }
                }
                &:nth-child(4) {
                    span {
                        background: #3975c1;
                    }
                    &:before {
                        height: 50px;
                        @include breakpoint(normal) {
                            height: 40px;
                        }
                    }
                }
            }
        }
        ul.bottom-icon-section {
            text-align: center;
            margin: 91px auto 0px;
            position: relative;
            @include breakpoint(normal) {
                margin: 80px auto 0px;
            }
            @include breakpoint(mobile) {
                margin: 35px auto 0px;
            }
            li {
                width: 24%;
                position: relative;
                vertical-align: top;
                @include breakpoint(ipad) {
                    width: 22%;
                }
                @include breakpoint(mobile) {
                    width: 100%;
                    height: 155px;
                }
                @include breakpoint(mobile-s) {
                    margin-bottom: 30px;
                }
                p {
                    width: 67%;
                    margin: 10px auto 0;
                    @include breakpoint(normal) {
                        line-height: 1.5;
                    }
                    @include breakpoint(mobile) {
                        width: 100%;
                        margin: 0;
                        padding-left: 160px;
                        position: absolute;
                        top: 30%;
                        text-align: left;
                    }
                    @include breakpoint(mobile-s) {
                        position: inherit;
                        padding-left: 0px;
                        text-align: center;
                        top: inherit;
                    }
                }
                .border-sec {
                    height: 135px;
                    width: 135px;
                    display: inline-block;
                    position: relative;
                    @include breakpoint(mobile) {
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    @include breakpoint(mobile-s) {
                        position: inherit;
                        left: inherit;
                        top: inherit;
                    }
                    img {
                        display: block;
                    }
                    span {
                        height: 95px;
                        width: 95px;
                        border-radius: 100%;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 48%;
                        transform: translateY(-50%);
                        text-align: center;
                        margin: 0 auto;
                        svg {
                            height: 40px;
                            width: 40px;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            right: 0;
                            text-align: center;
                            margin: 0 auto;
                            transform: translateY(-50%);
                        }
                    }
                    .img-sec {
                        svg {
                            height: 130px;
                            width: 130px;
                        }
                    }
                }
                &::after {
                    content: "";
                    background: #d5d5d5;
                    height: 1px;
                    position: absolute;
                    @include breakpoint(mobile) {
                        display: none;
                    }
                }
                &:first-child {
                    .border-sec {
                        span {
                            background: #60b4f4;
                            svg {
                                fill: #2f6b99;
                            }
                        }
                    }
                    &:after {
                        width: 500px;
                        top: -55px;
                        left: 175px;
                        @include breakpoint(x-normal) {
                            width: 382px;
                            top: -55px;
                            left: 133px;
                        }
                        @include breakpoint(normal) {
                            width: 318px;
                            left: 111px;
                        }
                        @include breakpoint(ipad) {
                            width: 212px;
                            left: 75px;
                        }
                    }
                    &:before {
                        height: 60px;
                    }
                }
                &:nth-child(2) {
                    .border-sec {
                        span {
                            background: #69cd1f;
                            svg {
                                fill: #458416;
                            }
                        }
                    }
                    &:after {
                        width: 166px;
                        top: -40px;
                        left: 175px;
                        @include breakpoint(x-normal) {
                            width: 128px;
                            top: -40px;
                            left: 133px;
                        }
                        @include breakpoint(normal) {
                            width: 105px;
                            left: 112px;
                        }
                        @include breakpoint(ipad) {
                            width: 72px;
                            left: 76px;
                        }
                    }
                    &:before {
                        height: 45px;
                        top: -40px;
                    }
                }
                &:nth-child(3) {
                    .border-sec {
                        span {
                            background: #ff9b07;
                            svg {
                                fill: #8f5e15;
                            }
                        }
                    }
                    &:after {
                        width: 168px;
                        top: -40px;
                        right: 175px;
                        @include breakpoint(x-normal) {
                            width: 128px;
                            top: -40px;
                            right: 133px;
                        }
                        @include breakpoint(normal) {
                            width: 105px;
                            right: 112px;
                        }
                        @include breakpoint(ipad) {
                            width: 72px;
                            right: 76px;
                        }
                    }
                    &:before {
                        height: 45px;
                        top: -40px;
                    }
                }
                &:nth-child(4) {
                    .border-sec {
                        span {
                            background: #3975c1;
                            svg {
                                fill: #173e70;
                            }
                        }
                    }
                    &:after {
                        width: 500px;
                        top: -55px;
                        right: 175px;
                        @include breakpoint(x-normal) {
                            width: 382px;
                            top: -55px;
                            right: 133px;
                        }
                        @include breakpoint(normal) {
                            width: 318px;
                            right: 111px;
                        }
                        @include breakpoint(ipad) {
                            width: 212px;
                            right: 75px;
                        }
                    }
                    &:before {
                        height: 60px;
                    }
                }
                &:before {
                    content: "";
                    background: #d5d5d5;
                    width: 1px;
                    position: absolute;
                    text-align: center;
                    margin: 0 auto;
                    z-index: -1;
                    left: 0;
                    right: 0;
                    top: -54px;
                    @include breakpoint(mobile) {
                        display: none;
                    }
                }
            }
        }
    }
    .service-sec-wrap {
        .title {
            margin-bottom: 30px;
            @include breakpoint(normal) {
                margin-bottom: 15px;
            }
            h5 {
                width: 80%;
                margin: 0 auto;
                text-align: center;
                line-height: 1.8;
                position: relative;
                padding-bottom: 35px;
                word-spacing: 0.01em;
                font-size: 20px;
                @include breakpoint(x-normal) {
                    font-size: 18px;
                }
                @include breakpoint(ipad) {
                    width: 100%;
                    padding-bottom: 25px;
                    font-size: 16px;
                }   
                @include breakpoint(mobile) {
                    font-size: 14px;
                }
                &:after {
                    content: "";
                    display: block;
                    width: 70px;
                    height: 2px;
                    background: $color-blue;
                    text-align: center;
                    margin: 30px auto 0;
                    @include breakpoint(ipad) {
                        margin: 15px auto 0px;
                    }
                }
            }
        }
        .row {
            @include breakpoint(ipad) {
                display: flex;
                justify-content: space-around;
                align-self: center;
                > div {
                    margin-bottom: 30px;
                    @include breakpoint(mobile) {
                        min-width: 100%;
                    }
                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
            .service-grid {
                box-shadow: 0px 0px 8px rgba(221, 221, 221, 0.4);
                padding: 40px;
                text-align: center;
                min-height: 280px;
                transition: all 0.3s ease-in-out 0s;
                @include breakpoint(normal) {
                    padding: 25px 20px;
                    min-height: 260px;
                }
                @include breakpoint(mobile) {
                    min-height: auto;
                }
                .icon-sec {
                    text-align: center;
                    margin-bottom: 20px;
                    svg {
                        height: 40px;
                        width: 40px;
                        fill: $color-blue;
                    }
                    @include breakpoint(mobile) {
                        margin-bottom: 10px;
                    }
                }
                .content {
                    h5 {
                        font-size: 20px;
                        @include breakpoint(normal) {
                            font-size: 17px;
                        }
                    }
                    p {
                        margin-bottom: 0px;
                    }
                }
                &:hover {
                    transform: translateY(-5%);
                }
            }
        }
    }
}

/*----- Our Technology Section -----*/

.our-technology-element {
    @include breakpoint(normal) {
        padding: 35px 0px;
    }
    .title-section {
        margin-bottom: 50px;
        @include breakpoint(ipad) {
            margin-bottom: 15px;
        }
    }
    .our-technology-block {
        .sec-order {
            order: 2;
            @include breakpoint(ipad) {
                order: initial;
            }
        }
        @include breakpoint(ipad) {
            text-align: center;
        }
        .our-technology {
            &:first-child {
                border-bottom: 1px solid #bbcbd6;
                margin-bottom: 40px;
                padding-bottom: 40px;
                @include breakpoint(ipad) {
                    margin-bottom: 12px;
                }
            }
            &:nth-child(2) {
                .img-sec {
                    text-align: left;
                    padding-left: 50px;
                    @include breakpoint(normal) {
                        padding-left: 0px;
                    }
                    @include breakpoint(ipad) {
                        text-align: center;
                        margin: 0 auto;
                    }
                }
            }
            .img-sec {
                iframe {
                    height: 500px;
                    width: 100%;
                    margin-top: -80px;
                }
            }
        }
        .content-sec {
            margin-top: 20px;
            @include breakpoint(ipad) {
                margin-bottom: 30px;
            }
            h4 {
                position: relative;
                margin-bottom: 30px;
                @include breakpoint(normal) {
                    margin-bottom: 18px;
                }
                &:after {
                    content: "";
                    display: block;
                    width: 80px;
                    height: 2px;
                    background: $color-blue;
                    margin-top: 13px;
                    @include breakpoint(ipad) {
                        text-align: center;
                        margin: 13px auto 0px;
                    }
                }
            }
            p {
                margin-bottom: 30px;
                @include breakpoint(normal) {
                    margin-bottom: 18px;
                }
            }
        }
        .img-sec {
            text-align: center;
            margin: 0 auto;
        }
        .hire-btn {
            background: linear-gradient(to right, #2298e5 0%, #1c85c8 100%);
            width: 185px;
            text-align: center;
            color: $color-white;
            font-size: 16px;
            text-transform: $text-uppercase;
            display: inline-block;
            line-height: 3.6;
            border-radius: 50px;
            margin-top: 10px;
            border: 1px solid transparent;
            overflow: hidden;
            @include breakpoint(normal) {
                font-size: 14px;
            }
            &:hover,
            &:focus {
                background: $color-white;
                color: $color-blue;
                border-color: $color-blue;
            }
        }
    }
}

/*----- Testimonial Section -----*/

.testimonial-element-wrap {
    padding: 60px 0px 40px;
    @include breakpoint(normal) {
        padding: 35px 0px 10px;
    }
    .title-section {
        margin-bottom: 60px;
    }
    .testimonial-grid {
        position: relative;
        border: 1px solid #d9d9d9;
        padding: 45px;
        margin-top: 25px;
        margin-bottom: 25px;
        z-index: 999;
        transition: all 0.5s ease-in-out 0s;
        @include breakpoint(normal) {
            padding: 30px 30px 20px;
        }
        img {
            position: absolute;
            left: 25px;
            top: 46px;
            border-radius: 100%;
            height: 70px;
            width: 70px;
            @include breakpoint(normal) {
                top: 30px;
            }
            @include breakpoint(mobile-s) {
                position: inherit;
                left: inherit;
                top: inherit;
                text-align: center;
                margin: 0 auto 20px;
            }
        }
        .content {
            padding-left: 75px;
            @include breakpoint(mobile-s) {
                padding-left: 0px;
                text-align: center;
            }
            p {
                font-size: 15px;
                line-height: 2em;
                @include breakpoint(x-normal) {
                    font-size: 13px;
                }
            }
        }
        span.blq {
            display: inline-block;
            position: absolute;
            top: -22px;
            margin-top: 0;
            z-index: -1;
            left: 33px;
            svg {
                height: 40px;
                width: 40px;
                fill: #d9d9d9;
            }
        }
        &:hover {
            span.blq {
                svg {
                    fill: $color-blue;
                }
            }
        }
        .ceo-founder {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -12px;
            text-align: center;
            margin: 0 auto;
            span {
                font-size: 15px;
                color: $color-blue;
                font-weight: $font-weight-light;
                font-family: $font-family;
                background: $color-white;
                padding: 0 20px;
                letter-spacing: 1px;
                span {
                    color: #959595;
                    padding: 0px;
                }
            }
        }
    }
    .owl-nav {
        position: absolute;
        top: -50px;
        right: 0;
        @include breakpoint(mobile) {
            top: -38px;
        }
        button {
            min-width: 0px;
            transition: all 0.3s ease-in-out 0s;
            &:first-child {
                margin-right: 8px;
            }
            i {
                color: #d0d0d0;
                border: 2px solid #d0d0d0;
                height: 26px;
                width: 26px;    
                display: inline-block;
                border-radius: 100%;
                font-size: 18px;
                line-height: 22px;
                position: relative;
                &:before {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    transform: translateY(-50%);
                }
            }
            &:hover,
            &:active {
                i {
                    color: $color-blue;
                    border-color: $color-blue;
                }
            }
        }
    }
}

/*----- For Employes -----*/

.for-employe-wrap {
    padding: 50px 0px;
    border-bottom: 1px solid #e4e4e4;
    @include breakpoint(mobile) {
        padding: 30px 0px;        
    }
    .contact-content {
        h5 {
            font-size: 18px;
            color: $black;
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 5px;
            @include breakpoint(x-normal) {
                font-size: 16px;
            }
            &:after {
                content: "";
                display: block;
                width: 75px;
                height: 2px;
                margin-top: 8px;
                background: $color-blue;
            }
        }
        h4 {
            font-size: 30px;
            color: $black;
            @include breakpoint(x-normal) {
                font-size: 22px;
            }
        }
        p {
            margin-bottom: 50px;
            @include breakpoint(normal) {
                margin-bottom: 30px;
            }
        }
        .img-sec {
            img {
                width: 100%;
            }
        }
    }
    .contact-wrap {
        padding-left: 65px;
        @include breakpoint(normal) {
            padding-left: 30px;
        }
        @include breakpoint(ipad) {
            margin-top: 40px;
            padding-left: 15px;
        }
    }
    .contact-form {
        box-shadow: 1px 0px 13px rgba(0, 0, 0, 0.1);
        padding: 40px;
        @include breakpoint(normal) {
            padding: 25px;
        }
        h4 {
            font-size: 30px;
            color: $black;
            text-align: center;
            @include breakpoint(x-normal) {
                font-size: 22px;
            }
        }
        h5 {
            text-align: center;
            position: relative;
            padding-bottom: 25px;
            margin-bottom: 25px;
            @include breakpoint(x-normal) {
                font-size: 16px;
                margin-bottom: 15px;
            }
            @include breakpoint(mobile-s) {
                margin-bottom: 8px;
            }
            &:after {
                content: "";
                display: block;
                text-align: center;
                width: 75px;
                height: 2px;
                background: $color-blue;
                margin: 20px auto 0;
            }
        }
        form {
            .form-group {
                margin-bottom: 30px;
                @include breakpoint(x-normal) {
                    margin-bottom: 20px;
                }
            }
            .submit {
                background: linear-gradient(to right, #2298e5 0%, #1c85c8 100%);
                font-size: 16px;
                color: $color-white;
                line-height: 2.3em;
                border-radius: 50px;
                width: 180px;
                margin-top: 12px;
                float: right;
                @include breakpoint(mobile) {
                    font-size: 14px;
                    width: 140px;
                }
                &:hover {
                    background: $color-white;
                    color: $color-blue;
                }
            }
        }
    }
}

/*----- Careers Section -----*/

.careers-wrap {
    padding: 40px 0px;
    .careers-sec {
        border: 1px solid #dbdbdb;
        padding: 25px 45px;
        margin-bottom: 40px;
        @include breakpoint(normal) {
            padding: 25px;
        }
        @include breakpoint(ipad) {
            margin-bottom: 28px;
        }
        form {
            display: flex;
            justify-content: space-between;
            @include breakpoint(mobile) {
                display: inherit;
                justify-content: inherit;
            }
        }
        .form-group {
            margin-right: 30px;
            width: 24.5%;
            align-self: center;
            @include breakpoint(normal) {
                margin-right: 20px;
            }
            @include breakpoint(ipad) {
                &:nth-child(3) {
                    margin-right: 0px;
                }
            }
            @include breakpoint(mobile) {
                width: 100%;
            }
            .form-control {
                background: #fcfcfc;
            }
            .form-control::-webkit-input-placeholder { 
                color:#888888;
            }
            .form-control::-moz-placeholder { 
                color:#888888;
            }
            .form-control:-ms-input-placeholder { 
                color:#888888; 
            }
            input:-moz-placeholder { 
                color:#888888;
            }
            select {
                background: #fcfcfc url("../images/arrow.png") no-repeat scroll 94% center;
                color:#888888;
            }   
        }
        .form-btn {
            align-self: center;
        }
        .submit {
            font-size: 16px;
            margin-left: 17px;
            min-width: 135px;
            line-height: 1.7;
            margin-top: 11px;
            @include breakpoint(x-normal) {
                font-size: 14px;
            }
            &:hover {
                background: $color-white;
                color: $color-blue;
            }
            @include breakpoint(ipad) {
                display: block;
                min-width: 105px;
            }
            @include breakpoint(mobile) {
                margin: 20px auto 0;
            }
        }
        position: relative;
        span.career {
            position: absolute;
            bottom: 8px;  
            right: 16%;
            @include breakpoint(x-normal) {
                right: 21%;
            }
            @include breakpoint(normal) {
                right: 21.5%;
            }
            @include breakpoint(ipad) {
                position: inherit;
                bottom: inherit;
                right: inherit;
            }
            a {
                font-size: 15px;
                color: #888888;
                &:hover {
                    color: $color-blue;
                }
            }
        }
    }
    .location-wrap {
        border: 1px solid #dbdbdb;
        .title {
            background: #f9f9f9;
            h5 {
                color: $black;
                font-weight: $font-weight-regular;
                text-transform: $text-capitalize;
                padding: 10px 20px;
                border-bottom: none;
                line-height: 20px;
                font-size: 20px;
                @include breakpoint(mobile) {
                    font-size: 16px;
                }
            }
        }
        ul {
            column-count: 5;
            -webkit-column-count: 5; /* Chrome, Safari, Opera */
            -moz-column-count: 5; 
            padding: 20px 20px 40px;
            @include breakpoint(normal) {
                column-count: 3;
                -webkit-column-count: 3; /* Chrome, Safari, Opera */
                -moz-column-count: 3; 
            }
            @include breakpoint(mobile) {
                column-count: 2;
            }
            li {
                list-style: none;
                font-size: 15px;
                color: $black;
                font-family: $font-family;
                font-weight: $font-weight-regular;
                margin-bottom: 20px;
                @include breakpoint(mobile) {
                    font-size: 14px;
                }
                i {
                    color: $color-blue;
                    margin-right: 8px;
                }
            }
        }
    }
    
    /*----- Candidates Section 2 -----*/
    
    .job-listing-wrap {
        .top-list-wrap {
            margin-bottom: 45px;
            @include breakpoint(ipad) {
                margin-bottom: 30px;
            }
            span {
                color: $color-grey;
                font-size: 17px;
            }
        }
        .job-listing-section {
            .title {
                h5 {
                    margin-bottom: 0px;
                    font-size: 17px;
                    color: $color-white;
                    background: #1b80c1;
                    padding: 10px 20px;
                    display: block;
                    @include breakpoint(ipad) {
                        font-size: 15px;
                    }
                }
            }
            .content {
                border: 1px solid $border-color;
                border-top: none;
                padding: 10px 20px 30px;
                @include breakpoint(mobile) {
                    padding: 10px 20px 20px;
                }
                .top-content {
                    p {
                        color: $color-grey;
                        margin-bottom: 3px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    span.day-sec {
                        color: #b8b8b8;
                        font-size: 14px;
                        float: right;
                        display: inline-block;
                        vertical-align: middle;
                        @include breakpoint(x-normal) { 
                            font-size: 12px;
                        }
                    }
                }
                span.location {
                    color: $color-grey;
                    font-size: 14px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 15px;
                    @include breakpoint(mobile) {
                        margin-bottom: 10px;
                    }
                    svg {
                        height: 15px;
                        width: 15px;
                        display: inline-block;
                        vertical-align: middle;
                        fill: $color-grey;
                    }
                }
                ul {
                    li {
                        list-style: none;
                        margin-bottom: 10px;
                        span.ttl {
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 14px;
                            color: $black;
                            @include breakpoint(x-normal) {
                                font-size: 12px;
                            }
                        }
                        p {
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 14px;
                            color: #828282;
                            margin-bottom: 0px;
                            @include breakpoint(x-normal) { 
                                font-size: 12px;
                            }
                        }
                        &:first-child {
                            p {
                                margin-left: 50px;
                                @include breakpoint(mobile) {
                                    margin-left: 0px;
                                    display: block;
                                }
                            }
                        }
                        &:nth-child(2) {
                            span {
                                display: block;
                            }
                        }
                    }
                }
                .view-more-btn {
                    text-align: right;
                    margin-top: 20px;
                    .view-more {
                        background: linear-gradient(to right, #2298e5 0%, #1c85c8 100%);
                        min-width: 110px;
                        font-size: 13px;
                        line-height: 2.6;
                        color: $color-white;
                        display: inline-block;
                        text-align: center;
                        border-radius: 50px;
                        text-transform: uppercase;
                        font-family: $font-family;
                        font-weight: $font-weight-regular;
                        border: 1px solid transparent;
                        overflow: hidden;
                        &:hover,
                        &:focus {
                            background: $color-white;
                            color: $color-blue;
                            border-color: $color-blue;
                        }
                    }
                }
            }
            .job-list {
                margin-bottom: 12px;
            }
        }
    }
}

/*----- Pagination Section -----*/

.pagination-sec {
    text-align: right;
    padding-top: 25px;
    @include breakpoint(mobile) { 
        text-align: center;
    }
    ul {
        li {
            a {
                border: 1px solid $border-color;
                padding: 2px 10px;
                border-radius: 4px;
                display: inline-block;
                color: $black;
                font-size: 15px;
                @include breakpoint(mobile) { 
                    font-size: 13px;
                    padding: 2px 6px;
                }
                &.prev {
                    i {
                        margin-right: 10px;
                        color: $color-grey;
                    }
                }
                &.next {
                    i {
                        margin-left: 10px;
                        color: $color-grey;
                    }
                }
                &:hover,
                &.active {
                    border-color: $color-blue;
                    i {
                        color: $color-blue;
                    }
                }
            }
        }
    }
}


/*----- For Employers Section -----*/

.for-employe-wrapper {
    .testimonial-element-wrap {
        padding: 30px 0px;
    }
}

/*----- Job Description Section -----*/

.job-description-wrap {
    @include breakpoint(mobile) {
        padding: 30px 0px;
    }
    .job-list-wrapper {
        .job-list-wrap {
            h5 {
                text-align: center;
                margin-bottom: 40px;
                font-weight: 500;
                @include breakpoint(mobile) {
                    margin-bottom: 25px;
                }
            }
            ul {
                li {
                    font-family: $font-family;
                    font-weight: $font-weight-regular;
                    font-size: 14px;
                    color: $black;
                    margin-bottom: 20px;
                    position: relative;
                    padding-left: 20px;
                    &:before {
                        content: "\f111";
                        position: absolute;
                        top: 5px;
                        left: 0;
                        font-size: 8px;
                        color: $color-blue;
                        font-family: FontAwesome;
                    }
                }
            }
            .edu-des {
                margin-top: 30px;
                small {
                    color: $black;
                    font-size: 15px;
                    font-family: $font-family;
                    display: block;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
                span {
                    font-family: $font-family;
                    font-weight: $font-weight-regular;
                    font-size: 14px;
                    color: $black;
                    margin-bottom: 10px;
                    display: block;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
    .job-description-sec,
    .job-list-wrap,
    .keyskill-sec {
        width: 735px;
        margin: 0 auto;
        @include breakpoint(ipad) {
            width: auto;
        }
    }
    .job-description-sec ul li,
    .job-list-wrap ul li {
        list-style: none;
    }
    .job-description-sec {
        ul {
            li {
                display: inline-block;
                width: 100%;
                margin-bottom: 20px;
                span {
                    width: 49%;
                    display: inline-block;
                    color: $black;
                    vertical-align: top;
                    &:first-child {
                        font-size: 15px;
                        font-family: $font-family;
                        font-weight: 500;
                        img {
                            margin-right: 15px;
                        }
                        @include breakpoint(mobile) {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
    .keyskill-wrapper {
        h6 {
            font-size: 15px;
            color: $black;
            font-weight: 500;
            margin-bottom: 25px;
        }
        ul {
            li {
                margin-right: 15px;
                &:last-child {
                    margin-right: 0px;
                }
                @include breakpoint(mobile) {
                    margin-right: 10px;
                    margin-bottom: 22px;
                }
                a {
                    background: #f3f3f3;
                    font-size: 14px;
                    color: $black;
                    padding: 7px 15px;
                    border-radius: 3px;
                    @include breakpoint(mobile) {
                        font-size: 13px;
                        padding: 7px 10px;
                    }
                    &:hover {
                        background: $color-blue;
                        color: $color-white;
                    }
                }
            }
        }
    }
    .border-btm {
        border-bottom: 1px solid $border-color;
        margin-bottom: 30px;
        padding-bottom: 30px;   
    }
}

/*----- Apply Job Section ------*/

.apply-job-wrap {
    padding: 70px 0px;
    @include breakpoint(x-normal) {
        padding: 50px 0px;
    }
    .contact-form {
        box-shadow: 1px 0px 13px rgba(0, 0, 0, 0.1);
        padding: 40px;
        background: $color-white;
        width: 930px;
        margin: 0 auto;
        @include breakpoint(ipad) {
            width: auto;
        }
        @include breakpoint(mobile) {
            padding: 25px;
        }
        h3 {
            font-size: 35px;
            color: $black;
            text-align: center;
            font-weight: 500;
            text-transform: inherit;
            @include breakpoint(x-normal) {
                font-size: 25px;
            }
            @include breakpoint(mobile) {
                font-size: 21px;
            }
        }
        h5 {
            text-align: center;
            position: relative;
            padding-bottom: 25px;
            margin-bottom: 35px;
            line-height: 1.5em;
            @include breakpoint(x-normal) {
                font-size: 16px;
                margin-bottom: 15px;
            }
            @include breakpoint(mobile) {
                font-size: 13px;
            }
            &:after {
                content: "";
                display: block;
                text-align: center;
                width: 75px;
                height: 2px;
                background: $color-blue;
                margin: 20px auto 0;
            }
        }
        form {
            .form-group {
                margin-bottom: 30px;
                @include breakpoint(x-normal) {
                    margin-bottom: 20px;
                }
            }
            .submit {
                background: linear-gradient(to right, #2298e5 0%, #1c85c8 100%);
                font-size: 16px;
                color: $color-white;
                line-height: 2.3em;
                border-radius: 50px;
                width: 230px;
                margin-top: 12px;
                float: right;
                @include breakpoint(mobile) {
                    font-size: 14px;
                }
                @include breakpoint(mobile-s) {
                    display: block;
                    margin: 0 auto;
                    float: inherit;
                }
                &:hover {
                    background: $color-white;
                    color: $color-blue;
                }
            }
        }
    }
}

/*----- Careers Section Page -----*/

.careers-wrap-section {
    padding: 70px 0px 30px;
    @include breakpoint(x-normal) {
        padding: 50px 0px 20px;
    }
    .recent-post {
        margin-bottom: 45px;
    }
    .row {
        @include breakpoint(ipad) {
            justify-content: space-around;
        } 
    }
    .title {
        margin-bottom: 20px;
        h5 {
            background: #1b80c1;
            padding: 10px 17px;
            margin-bottom: 0px;
            font-size: 17px;
            color: $color-white;
        }
    }
    .grid-item {
        text-align: center;
        box-shadow: 3px 0px 12px rgba(0, 0, 0, 0.2);
        padding: 50px 30px;
        margin-bottom: 30px;
        transition: all 0.3s ease-in-out 0s;
        @include breakpoint(normal) {
            padding: 35px 15px;
        }
        @include breakpoint(mobile) {
            padding: 25px 15px;
        }
        &:hover {
            transform: translateY(-5px);
        }
        h5 {
            font-weight: 500;
            margin-bottom: 5px;
        }
        span {
            font-size: 14px;
            color: #828282;
            font-weight: $font-weight-regular;
            margin-bottom: 30px;
            display: block;
            @include breakpoint(normal) {
                margin-bottom: 15px;
            }
        }
        h6 {
            font-size: 14px;
        }
        p {
            color: #828282;
        }
        .view-more {
            background: linear-gradient(to right, #2298e5 0%, #1c85c8 100%);
            min-width: 115px;
            font-size: 13px;
            line-height: 2.5;
            color: $color-white;
            display: inline-block;
            text-align: center;
            border-radius: 50px;
            text-transform: uppercase;
            font-family: $font-family;
            font-weight: $font-weight-regular;
            border: 1px solid $color-blue;
            margin-top: 15px;
            &:hover {
                background: $color-white;
                color: $color-blue;
            }
        }
    }
}

@media only screen and (min-width: 1500px) {
    .container {
        max-width: 1470px;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .testimonial-element-wrap .owl-nav button i::before {
       margin-top: 1.5px;
    }
}