//  Variables Sections  //

//Colors
$color-white: #ffffff;
$black: #000000;
$black-grey-clr: #39373b;
$color-grey: #6c6c6c;
$color-blue: #229be8;
$dark-grey: #858585;
$footer-text-clr: #c3c3c3;
$border-color: #e7e7e7;

//Font Family 
$font-family: 'Poppins', sans-serif;

//Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-semibold: 600;

//Text Transform
$text-uppercase: uppercase;
$text-capitalize: capitalize;